margin = 120
align-cases =true
align-constructors-decl = true
align-variants-decl = true
break-cases = fit
module-item-spacing = sparse
field-space = loose
type-decl = sparse
parse-docstrings = true
wrap-comments = true